body{
    font-family: 'Source Code Pro', monospace;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
.top-section,.journey-section{
    display: flex;
    margin-bottom: 120px;
}
.intro{
    width: 50%;
    overflow: hidden;
    padding-left: 3%;
    padding-right: 5%;
   
}
.color-orange{
    color: orange;
}
.bigger-font{
    font-size: 50px;
}
.link-button{
    text-decoration: none;
    padding: 10px 40px;
    color: blue;
    font-weight: 700;
    border-radius: 5px;
}
.button-color{
    background-image: linear-gradient(orange,yellow);
}
.intro img{
    width: 80%;
}